.mailer {
  background:  white;
  color: black;
  padding: 5px;
  ul li {
   
    font-size: 12px;
    list-style: square;
  } 
  
  
}
pre {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 10px;
  color: white;
  text-align: center;
  background:  DarkBlue;
   
  }
